<div class="detailsBar">
    <div>
        <h2>{{place.name}}</h2>
        <p>{{pplace.zone}}</p>
        <p>{{place.city}}</p>
        <p>{{place.capacity}}</p>
    </div>
     <div>
         <h3> Lista comments</h3>
    {{#each comments}}
   
    <li>{{creator.username}}</li>
    <li>{{comments}}</li>
    <img src="{{garrafon.photo}}" alt="" height="100"
    width="100">
    {{/each}}
    </div>
   <div>
    {{!-- {{#each drinks}}
    Bebidas
    <li>{{photo}}</li>
    {{/each}} --}}
    </div>

    <div>
          mapa!!!
    </div>
    
   
    <a href="/comments/{{place._id}}/newComment">Add new comment</a>
    <a href="/home">Principal</a>

</div>
<div id="map" style="height:500px"></div>
{{!-- {{#if places}}
<script>
  window.places = {{{places}}};
</script>
{{/if}} --}}
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyClr_fVK41OBJxuab_HEI3I30pcijqHB7E"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="/javascripts/jquery.geocomplete.js"></script>
<script src='/javascripts/script.js'></script>