<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand"></a>
        <a>GUIDE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/comments/{{place._id}}/newComment">Add comment</a>
                    <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/bars/add">Add Bar
                        <span class="sr-only">(current)</span>
                    </a>
                    <li class="nav-item">
                        <a class="nav-link" href="/home">Principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">Logout</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid text-center">
    <div class="row content">
    </div>
</div>

<div class="comments-container">
    <h1>Comentarios
    </h1>
    {{#each comments}}
    <ul id="comments-list" class="comments-list">
        <li>
            <div class="comment-main-level">
                <!-- Avatar -->
                <div class="comment-avatar">
                    <img src="{{garrafon.photo}}" alt="" height="100" width="100">
                </div>
                <!-- Contenedor del Comentario -->
                <div class="comment-box center-block">
                    <div class="comment-head">
                        <h6 class="comment-name by-author">
                            {{creator.username}}
                        </h6>
                        {{#list updated_ad}}{{/list}}
                        <i class="fa fa-reply"></i>
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="comment-content">
                           {{comments}}
                    </div>
                </div>
            </div>
        </li>
    </ul>
    {{/each}}
</div>
<div class="detailsBar">
    <div class="card" style="width: 18rem;">
  <div class="card-header">
   Lugar: <h2> {{place.name}}</h2>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Zona: <h3>{{place.zone}}</h3></li>
    <li class="list-group-item"><p>Ciudad: <h3>{{place.city}}</h3></li>
    <li class="list-group-item"><p>Capacidad: <h3>{{place.capacity}}</h3></li>
  </ul>
</div>
    <div>
      
    </div>
</div>
 </section>
    <section class="map">
        <div id="map"></div>
        <script>
            window.placesAux={{{place}}};
        </script>
    </section>

