<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGKIR1qG0f2w-2orTPffHRyXFTWkbbYp0"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1>Vista principal</h1>
<header>
  <a href="/auth/logout">Logout</a>
<a href="/bars/add">Add new Bar</a>
</header>

<body>
  
    <h1>List Bars</h1>
    <div class="Bars">
        {{#each places}}
        <h2>{{name}}</h2>
        <ul>
            <li>Imagen algun dia</li>
            <li>{{zone}}</li>
            <li>{{city}}</li>
            {{#each commentes}}
            <li>{{comments}}</li>
            {{/each}}
            <li>{{capacity}}</li>
    
        </ul>
        <a href="/bars/{{_id}}">Details</a>
        {{/each}}
    </div>
   
    <div id="map" style="height:500px"></div>
    <script>
        window.placesAux = {{{ places }}};
    </script>
    <script src='/javascripts/script.js'></script>

</body>

</html>