<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAGKIR1qG0f2w-2orTPffHRyXFTWkbbYp0"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<h1>Vista principal</h1>

<body>
    <script>
        window.placesAux = {{{ placesAux }}};
    </script>
    <a href="/auth/logout">Logout</a>
    <a href="/bars/add">Add new Bar</a>

    <h1>List Bars</h1>
    <div class="Bars">
        {{#each places}}
        <h2>{{name}}</h2>
        <ul>
            <li>{{zone}}</li>
            <li>{{city}}</li>
            <li>{{comments}}</li>
            <li>{{capacity}}</li>
        </ul>

        <a href="/add/drinks">Add drinks</a>
        <a href="/add/comments/{{_id}}">----Add Comments</a>
        {{/each}}
    </div>

    <div id="map" style="height:500px"></div>

    <script src='/javascripts/script.js'></script>

</body>

</html>