<div class="contentnewcomment">

  <form action="/comments/{{place._id}}/newComment" method="post">
    <div>

      <h3>Comment the Bar {{place.name}}:</h3>
      <select name="garrafon" id="garrafon" class="form-group">
        {{#each drinks}}
        <option value="{{_id}}">{{type}} {{mark}}</option>
        {{/each}}
      </select>

      <div class="form-group shadow-textarea">
       
        <textarea class="form-control z-depth-1" name="content" rows="9" required placeholder="Write your comment here..."></textarea>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-secondary">
  </form>
</div>

 