<div class="container">
  
    <form action="/comments/{{place._id}}/newComment" method="post">
    <div class="content">
      
      <label>Comment the Bar {{place.name}}:</label>
      <select name="garrafon" id="garrafon">
       {{#each drinks}}
       <option value="{{_id}}">{{type}} {{mark}}</option>
       {{/each}}
      </select>
      <textarea rows="6" name="content" placeholder="Enter your Comment" required></textarea>
    </div>
      <input type="submit" value="Submit">
  </form>
  </div>

 